{% load static %}
{% load jformat %}

<a href="javascript:void(0);"
   onclick="loadMessageDetail({{ message.id }}, true);"
>
    <div class="row p-2">
        <div class="col-12">
            <h5 class="d-flex justify-content-between align-content-center">
                <div id="message-caption">
                    {{ message.caption }}
                </div>
            </h5>
            <span class="badge light badge-success mb-0 d-flex ">
                تاریخ ارسال :
                {{ message.send_date | jformat:"%d %B %Y ساعت %H:%M" }}
            </span>
        </div>
    </div>
</a>