{% extends 'account_base.html' %}
{% block title %}
تائید ثبت نام
{% endblock %}
{% load static %}
{% load crispy_forms_tags %}
{% load jalali_tags %}




{% block content %}
    <h1>{{ register_user.mobile }}</h1>
    <br/>
    <h3 class=>شماره موبایلتان رابه تائید برسانید</h3>
    <h5>کد امنیتی به شماره موبایل ({{ register_user.mobile }}) پیامک شده است . آن را وارد نمایید</h5>
    <br>
    <form method="Post" novalidate>
        {% csrf_token %}
        {% crispy form %}

    </form>
{% endblock %}