{% extends 'account_base.html' %}
{% block title %}
    ثبت نام
{% endblock %}
{% load static %}
{% load crispy_forms_tags %}




{% block content %}
    <div class="col-md-10">
        <div class="authincation-content">
            <div class="row no-gutters">
                <div class="col-xl-12">
                    <div class="auth-form">

                        <h3 class="text-center mb-4">حساب خود را ثبت کنید</h3>
                        <form method="Post" novalidate autocomplete="off">
                            {% csrf_token %}
                            {% crispy form %}
                            {#              {{ form.as_p }}#}

                        </form>
                        <div class="new-account mt-3">
                            <p>قبلاً حساب دارید؟ <a class="text-primary" href="{% url 'accounts:login' %}">ورود</a></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>




<script language="javascript">
    $(document).ready(function () {
        handel_birth_date_time();
    });

    function handel_birth_date_time() {
        $('#id_birth_date_persian').MdPersianDateTimePicker({
            targetTextSelector: '#id_birth_date_persian',
            targetDateSelector: '#id_birth_date',
            dateFormat: 'yyyy-MM-dd',

        });


    }

</script>


{% endblock %}

