{% extends 'base.html' %}
{% load static %}



{% block content %}

    <div id="import_section">
        <div class="col-lg-6 col-md-6" style="margin: 20px auto; display: block;">
            <div class="drop-box" id="dropBox" style="width: 100%; height: 200px; border: 4px dashed gray;">
                <p style="text-align: center; vertical-align: middle; line-height: 200px; font-size: 24px; color: gray;">
                    فایل خود را به این قسمت بکشید</p>
            </div>
            <form enctype="multipart/form-data" method="POST" action="" style="text-align: center;">
                <p style="color: gray; padding-top: 20px;">یا</p>
                {% csrf_token %}
                <div class="form-group">
                    <label>فایل خود را انتخاب کنید</label>
                    <input type="file" class="form-control" id="fileupload" placeholder="فایل خود را انتخاب کنید">
                </div>
                <input type="submit" value="بارگذاری" id="submit" class="btn btn-success">
            </form>
            <div id="uploaded_files"></div>
        </div>
    </div>

{% endblock %}



{% block scripts %}
    <script src="{% static 'js/import_excel.js' %}"></script>
{% endblock %}
