{% load static %}
{% load jformat %}


<a href="javascript:void(0);"
   class=" "
   onclick="load_campaign_detail({{ campaign.id }},true);"
>
    <div class="row p-2">
        <div class="col-12">
            <h5 class="d-flex justify-content-between align-items-center">
                <div id="campaign-caption">
                    {{ campaign.caption }}
                </div>
                {% if campaign.is_expire %}
                    <span class="badge badge-danger badge-pill">
                                            منقضی
                                    </span>
                {% else %}
                    <span class="badge badge-success badge-pill">
                                        فعال
                                    </span>
                {% endif %}
            </h5>
            <span class="badge light badge-success mb-0 d-flex justify-content-between align-items-center">
                 شروع :
                {{ campaign.start_date | jformat:"%d %B %Y ساعت %H:%M" }}
            </span>
            <label class="badge light badge-danger mb-0 mt-1 d-flex justify-content-between align-items-center">
                 پایان :
                {{ campaign.end_date | jformat:"%d %B %Y ساعت %H:%M" }}
            </label>
        </div>
    </div>
</a>