{% load static %}
{% load jformat %}

<table class="table-hover hover col-12">
    {% for campaign in campaigns %}
        <tr>
            <td>
                <a href="javascript:void(0);"
                   class=" "
                   onclick="load_campaign_detail({{ campaign.id }});"
                >
                    <div class="row p-2">
                        <div class="col-12">
                            <h5 class="d-flex justify-content-between align-items-center">
                                {{ campaign.caption }}
                                {% if campaign.is_expire %}
                                    <span class="badge badge-danger badge-pill">
                                            منقضی
                                    </span>
                                {% else %}
                                    <span class="badge badge-success badge-pill">
                                        فعال
                                    </span>
                                {% endif %}
                            </h5>
                            <p class="mb-0 d-flex justify-content-between align-items-center">
                                تاریخ شروع :

                                {{ campaign.start_date | jformat:'%H:%M %d-%m-%Y'  }}
                            </p>
                            <p class="mb-0 d-flex justify-content-between align-items-center">
                                تاریخ پایان :
                                {{ campaign.end_date | jformat:'%H:%M %d-%m-%Y' }}
                            </p>
                        </div>
                    </div>
                </a>
            </td>
        </tr>

    {% endfor %}
</table>
<hr>
<p class="text-right">
    {{ page_end }} از
    {{ count }}
</p>
{% if page_end >= count %}
    <div style="display: none">page-finished</div>
{% endif %}