{% load static %}

<div>

    <input id="campaign_id" hidden value="{{ campaign.id }}"/>

    <div class="row">
        <div class="dropdown ml-auto">
            <div class="row">
                <div class="btn-link" data-toggle="dropdown" aria-expanded="false">
                    <button class="btn btn-primary dropdown-toggle m-1">ارسال پیام</button>
                </div>
                <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end"
                     style="position: absolute; transform: translate3d(-55px, 24px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <a class="dropdown-item"
                       data-action="{% url 'core:message-add' message_type='voice' campaign=campaign.id  %}"
                       data-title="پیام صوتی"
                       data-subtitle=""
                       data-icon="fa-keyboard-o"
                       data-button-save-label="ادامه"
                       onclick="openMyModal(event,null,null); return false;">
                        پیام صوتی
                    </a>
                    <a class="dropdown-item" data-toggle="modal" data-target="#underConstruction">
                        پیام متنی
                    </a>
                    <a class="dropdown-item" data-toggle="modal" data-target="#underConstruction"> واتس اپ</a>
                    <a class="dropdown-item" data-toggle="modal" data-target="#underConstruction">تلگرام</a>
                </div>

                <div class="modal fade" id="underConstruction" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">در دست ساخت</h5>
                                <button type="button" class="close" data-dismiss="modal"><span>×</span>
                                </button>
                            </div>
                            <div class="modal-body">این قسمت بزودی راه اندازی می شود.</div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger light" data-dismiss="modal">بستن</button>
                            </div>
                        </div>
                    </div>
                </div>


                <button class="btn btn-primary  m-1"
                        data-action="{% url 'core:campaign-edit' campaign.id %}"
                        data-title="ویرایش کمپین "
                        data-subtitle=""
                        data-icon="fa-keyboard-o"
                        data-button-save-label="ذخیره"
                        onclick="openMyModal(event,loadCampaignDetail , {{ campaign.id }} ); return false;">
                    ویرایش
                </button>


            </div>
        </div>

    </div>

    <br>

    <div class="row m-1">
        <div class="col p-3 text-center rounded mr-3 date-bx bgl-primary">
            <h2 class="mb-0 text-black">{{ messages_count.total }}</h2>
            <h5 class="mb-1 text-black text-nowrap">تعداد ارسال ها</h5>
        </div>
        <div class="col p-3 text-center rounded mr-3 date-bx bgl-success">
            <h2 class="mb-0 text-black">{{ messages_count.successful }}</h2>
            <h5 class="mb-1 text-black text-nowrap">موفق</h5>
        </div>
        <div class="col p-3 text-center rounded mr-3 date-bx bgl-danger">
            <h2 class="mb-0 text-black">{{ messages_count.unsuccessful }}</h2>
            <h5 class="mb-1 text-black text-nowrap">ناموفق</h5>
        </div>
        <div class="col p-3 text-center rounded mr-3 date-bx bgl-secondary">
            <h2 class="mb-0 text-black">{{ messages_count.undefined }}</h2>
            <h5 class="mb-1 text-black text-nowrap">نامشخص</h5>
        </div>
        <div class="col p-3 text-center rounded mr-3 date-bx bgl-info">
            <h2 class="mb-0 text-black">{{ message_cost.cost| default_if_none:"0" }}</h2>
            <h5 class="mb-1 text-black text-nowrap">هزینه</h5>
        </div>

    </div>

    <hr class="mt-4 mb-4">

    <div class="row m-1">
        <div class="col">

            <div class="row">
                <div class="col-4">

                    <div class="form-group ">
                        <label>وضعیت</label>


                        <select id="status_select" class="form-control replace-rounded">
                            <option value="-1" selected> همه موارد</option>
                            {% for message_type in message_types %}
                                <option value="{{ message_type.0 }}"> {{ message_type.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <style>
                        .replace-rounded .btn {
                            border-radius: 1.25rem !important;
                        }
                    </style>
                </div>
                <div class="col-8">
                    <div class="form-group">
                        <label>بازه تاریخی</label>
                        <div class="row">
                            <div class="col-10">
                                <input type="text" id="id_date_range_"
                                       class="form-control input-default "
                                       placeholder="بازه تاریخی را انتخاب کنید"/>
                                <input type="text" id="id_date_range" style="display: none"/>
                            </div>
                            <div class="col-2 center">
                                <button type="submit" class="btn btn-primary btn-sm"
                                        onclick="loadCampaignMessages({{ campaign.id }})"
                                >
                                    <div class="fa fa-search"></div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class="row m-1" id="div_campaign_messages">
    </div>


</div>

