{% extends 'base.html' %}
{% load static %}
{% block title %}
    | لیست کمپین ها
{% endblock %}

{% block inner-title %}
    لیست کمپین ها
{% endblock %}



{% block content %}
    <div class="container-fluid  ">
        <div class="row">
            <div class="col-xl-4 card">
                <div >
                    <div class="card-header ">
                        <div class="header-right">
                            <div class="search_bar show">
                                <form>
                                    <input id="campaign_caption_search"
                                           class="form-control"
                                           type="search"
                                           placeholder="جستجو کمپین"
                                    >
                                </form>
                                <span class="search_icon p-3 c-pointer" onclick="search_campaigns()">
										<svg width="20" height="20" viewBox="0 0 24 24" fill="none"
                                             xmlns="http://www.w3.org/2000/svg"><path
                                                d="M23.7871 22.7761L17.9548 16.9437C19.5193 15.145 20.4665 12.7982 20.4665 10.2333C20.4665 4.58714 15.8741 0 10.2333 0C4.58714 0 0 4.59246 0 10.2333C0 15.8741 4.59246 20.4665 10.2333 20.4665C12.7982 20.4665 15.145 19.5193 16.9437 17.9548L22.7761 23.7871C22.9144 23.9255 23.1007 24 23.2816 24C23.4625 24 23.6488 23.9308 23.7871 23.7871C24.0639 23.5104 24.0639 23.0528 23.7871 22.7761ZM1.43149 10.2333C1.43149 5.38004 5.38004 1.43681 10.2279 1.43681C15.0812 1.43681 19.0244 5.38537 19.0244 10.2333C19.0244 15.0812 15.0812 19.035 10.2279 19.035C5.38004 19.035 1.43149 15.0865 1.43149 10.2333Z"
                                                fill="#A4A4A4"></path></svg>
					</span>
                            </div>
                        </div>

                    </div>
                    <div class="card-body">
                        <div id="campaign_list"></div>
                    </div>

                    <div id="divLoadMore"  class="card-footer border-0 pt-0 text-right">
                        <button  type="button" class="btn btn-primary btn-rounded" id="btnLoadMore">
                            بیشتر
                        </button>
                    </div>


                </div>
            </div>
            <div class="col-xl-8 ">
                <div class="card pr-3">
                    <div class="card-body ">
                        <div id="campaign_detail"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script src="{% static 'js/campaign.js' %}"></script>
    <script>
        load_campaign_detail({{ campaign.id }})
    </script>
{% endblock %}
